
html, body, #root {
  height: 100%;
  margin: 0;
  background: var(--bg);
}

canvas.p5Canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1 !important;
  display: block;
}

section, 
.full-page, 
.hero-layer, 
.about-layer,
.app-container {
  background-color: transparent !important;
  background: none !important;
}

#root {
  background: transparent !important;
}

body {
  background-color: transparent;
  margin: 0;
  
}
.about-card {
  background: var(--glass);
  backdrop-filter: blur(10px);
}
